@mixin flexLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}